# COMMON CONFIGURATION
TZ=America/New_York
COMPOSE_PROJECT_NAME=sfm

# VOLUME CONFIGURATION
# Volumes come in 2 types: normal Docker volumes (e.g., /sfm-data)
# or host volumes (which link to an external location; e.g., /src/sfm-data:/sfm-data).
# An internal volume should be adequate for development; for production,
# you probably want to use a link to an external location.
# The data volume is where:
# * all of harvested social media content is stored.
# * the db files are located.
# * web harvests are stored.
DATA_VOLUME=/sfm-data
#DATA_VOLUME=/src/sfm-data:/sfm-data
# The processing volume is where processed data is stored when using a processing
# container. Use porcessing.docker-compose.yml to start a processing container.
PROCESSING_VOLUME=/sfm-processing
#PROCESSING_VOLUME=/src/sfm-processing:/sfm-processing

# SFM UI CONFIGURATION
# This is the public hostname and port. It is used for Django's ALLOWED_HOSTS
# and for links in emails.
# For production, this must be set correctly or you will get a bad request (400).
SFM_HOSTNAME=localhost
SFM_PORT=8080

# To send email, set these correctly.
SFM_SMTP_HOST=smtp.gmail.com
SFM_EMAIL_USER=someone@gmail.com
SFM_EMAIL_PASSWORD=password

# To enable connecting to social media accounts, provide the following.
# They are not necessary.
#TWITTER_CONSUMER_KEY=mBbq9ruffgEcfsktgQztTHUir8Kn0
#TWITTER_CONSUMER_SECRET=Pf28yReB9Xgz0fpLVO4b46r5idZnKCKQ6xlOomBAjD5npFEQ6Rm
#WEIBO_API_KEY=13132044538
#WEIBO_API_SECRET=68aea49fg26ea5072ggec14f7c0e05a52
#TUMBLR_CONSUMER_KEY=Fki09cW957y56h6fhRtCnig14QhpM0pjuHbDWMrZ9aPXcsthVQq
#TUMBLR_CONSUMER_SECRET=aPTpFRE2O7sVl46xB3difn8kBYb7EpnWfUBWxuHcB4gfvP

# For automatically created admin account
SFM_SITE_ADMIN_NAME=sfmadmin
SFM_SITE_ADMIN_EMAIL=nowhere@example.com
SFM_SITE_ADMIN_PASSWORD=password

# RABBIT MQ CONFIGURATION
RABBITMQ_USER=sfm_user
RABBITMQ_PASSWORD=password
RABBITMQ_MANAGEMENT_PORT=15672

# DB CONFIGURATION
POSTGRES_PASSWORD=password

# WEB HARVESTER CONFIGURATION
HERITRIX_USER=sfm_user
HERITRIX_PASSWORD=password
HERITRIX_ADMIN_PORT=8443
# Contact used when web harvesting
HERITRIX_CONTACT_URL=http://library.myschool.edu

## DEVELOPMENT-ONLY CONFIGURATION.
# When using prod.docker-compose.yml, these are ignored.
DEBUG=True

# Set to "release" to use released version of sfm-utils and warcprox.
# Set to "master" to use master version of sfm-utils.
# Set to "dev" to link in a local sfm-utils running in development mode. A host volume must also be added
# in docker-compose.yml. (See the commented out volumes section in docker-compose.yml.)
SFM_REQS=master

# SFM UI DEVELOPMENT CONFIGURATION
# "master-runserver" to run with SFM UI runserver. "master" to run SFM UI with Apache.
UI_TAG=master-runserver
